@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: #1b1c1f;
}

/*Padrão para todos os botões*/
.corBotao {
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe5200);
    color: white;
    border-radius: 5px;
    border: 0px;
}

.corBotao:not(:hover) {
    color: white;
}
/* Fim - Padrão para todos os botões*/


/* NavBar Desktop */
#navTop{
    border-bottom: solid rgb(63, 63, 63) 1px;
}

#imagemLogo {
    width: 35px;
    transition: all 250ms ease;
    margin-left: 5px;
}

#imagemLogo:hover {
    width: 40px;
    transition: all 250ms ease;
}

#navbarDropdown span{
    margin-right: 4px;
    float: left;
}

#navbarDropdown label{
    margin-right: 1px;
}

.textDrop{
    color: white;
}
/* FIM - NavBar Desktop */


/* NavBar Mobile */
#navMobile {
    display: none;
    padding: 0px;
    height: 44px;
    border-top: solid rgb(63, 63, 63) 1px;
}

#navMobile span {
    font-size: 38px;
}

#navMobile #feed{
    margin-left: 10px;
}

#navMobile #criar {
    color: #fe5200;
    border-top: #fe5200;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#navMobile #perfil {
    margin-right: 10px;
    color: white;
}

#navMobile #pesquisar{
    color: white;
}

#navMobile #feed{
    color: white;
}

#navMobile #iconSenha{
    color: white;
}
/* FIM - NavBar Mobile */


/* Body esquerda */
.perfilFiltro {
    width: 27%;
    height: 100%;
    float: left;
    position: fixed;
    text-align: center;
    padding: 25px;
    margin-top: 61px;
}

.cardEsquerda{
    box-shadow: 2px 2px 5px 1px #f8360049;
    background: #282a2e;
}

#fotoPerfil{
    margin-top: -45px;
    width: 35%;
}
/* FIM - Body esquerda */


/* Body Meio */
.formulario {
    width: 73%;
    padding: 30px;
    float: left;
    margin-left: 27%;
    margin-top: 48px;
}

.formulario #quadrado{
    margin-top: 108px;
    border: 1px solid #707071;
    padding: 15px;
    width: 100%;
    margin-bottom: 20px;
    border-radius: 5px; 
}

.formulario #botaoCriar {
    width: 50%;
    margin-top: 15px;
    margin-left: 25%;
}

.formulario #imagem {
    width: 241.95px;
    height: 174.14px;
}

.formulario #tituloMobile{
    text-align: center;
    display: none;
}

.formulario .left{
    float: left;
}
/* FIM - Body Meio */
