@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700&family=Josefin+Slab:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600&family=Mulish:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css');
* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background: #1b1c1f;
}

/*Padrão para todos os botões*/
.corBotao {
    background: -webkit-linear-gradient(to right, #f83600, #fe8c00);
    background: linear-gradient(to right, #f83600, #fe5200);
    color: white;
    border-radius: 5px;
    border: 0px;
}

.corBotao:not(:hover) {
    color: white;
}
/* Fim - Padrão para todos os botões*/


/* NavBar Desktop */
#navTop{
    border-bottom: solid rgb(63, 63, 63) 1px;
}

#imagemLogo {
    width: 35px;
    transition: all 250ms ease;
    margin-left: 5px;
    margin-right: 10px;
}

#imagemLogo:hover {
    width: 40px;
    transition: all 250ms ease;
}

#navbarDropdown span{
    margin-right: 4px;
    float: left;
}

#navbarDropdown label{
    margin-right: 1px;
}

.textDrop{
    color: white;
}
/* FIM - NavBar Desktop */


/* NavBar Mobile */
#navMobile {
    display: none;
    padding: 0px;
    height: 44px;
    border-top: solid rgb(63, 63, 63) 1px;
}

#navMobile span {
    font-size: 38px;
}

#navMobile #pesquisar {
    margin-left: 10px;
    color: #fe5200;
    border-top: #fe5200;
    border-style: solid;
    border-left: none;
    border-right: none;
    border-bottom: none;
}

#navMobile #perfil {
    margin-right: 10px;
    color: white;
}

#navMobile #criar{
    color: white;
}

#navMobile #iconSenha{
    color: white;
}

#navMobile #feed{
    color: white;
}
/* FIM - NavBar Mobile */

/* Body esquerda */
.perfilFiltro {
    width: 27%;
    height: 100%;
    float: left;
    position: fixed;
    text-align: center;
    padding: 25px;
    margin-top: 61px;
    border-right: solid rgb(63, 63, 63) 1px;
}

.cardEsquerda{
    box-shadow: 2px 2px 5px 1px #f8360049;
    background: #282a2e;
}

#fotoPerfil{
    margin-top: -45px;
    width: 110px;
    height: 110px;
}

/* FIM - Body esquerda */


/* Body Meio */
.pesquisar {
    width: 46%;
    padding: 30px;
    float: left;
    margin-left: 27%;
    height: 100%;
}

.barraPesquisa{
    margin-top: 24px;
}

.resultado{
    border: solid white 1px;
    border-radius: 4px;
    height: 50px;
    padding: 7px;
}

.fotoUsuario{
    width: 35px;
    height: 35px;
    float: left;
}

.nomeUsuario{
    margin-left: 10px; 
    font-weight: bold;
    cursor: pointer;
}

/* Body Direita */
.anuncio{
    width: 27%;
    height: 100%;
    position: fixed;
    margin-left: 73%;
    padding: 25px;
    margin-top: 61px;
    border-left: solid rgb(63, 63, 63) 1px;
}

.anuncio .cardDireita{
    background: #282a2e;
    height: 505px;
}
/* FIM - Body Direita */


/* Modal detalhes */
.modal .modal-content{
    background: #1b1c1f;
}
/* FIM - Modal detalhes */