/* RESPONSIVIDADE PERFIL */
@media(max-width: 1233px) {
    .acoesBtn {
        width: 100%;
        margin-top: 7px;
    }
}

@media(max-width: 889px) {
    .perfil{
        width: 100%;
    }
    .nav_tabs{
        width: 100%;
    }
    .acao{
        width: 94%;
        margin-left: 3%;
    }
}

@media(max-width: 766px){
    .acoesBtn {
        width: 49%;
    }
    .acoes{
        margin-bottom: 50px;
    }
}

@media(max-width: 623px){
    .dadosPerfil{
        padding: 10px;
        margin-top: 86px;
    }
    .perfil #fotoPerfil{
        margin-left: 25%;
        margin-top: 13px;
    }
    .dadosPerfil #botaoEditar{
        margin-left: 10%; 
    }
}

@media(max-width: 525px){
    .perfil #fotoPerfil{
        width: 70%;
        margin-left: 15%;
    }
    .dadosPerfil #dadosPerfil{
        float: none;
    }
    .dadosPerfil #botaoEditar{
        margin-top: 10px;
        margin-left: 0px;
        width: 97%;
    }
}
/* FIM - RESPONSIVIDADE PERFIL */