/* RESPONSIVIDADE FEED */

@media(max-width: 900px) {
    .cardEsquerda h4{
        font-size: 20px;
    }
    .filtro h6 {
        font-size: 13px;
    }
    .filtro p{
        font-size: 13px;
    }
    
}

@media(max-width: 770px) {
    .anuncio{
        display: none;
    }
    .perfilFiltro #cardPerfil{
        display: none;
    }
    .perfilFiltro {
        float: none;
        width: 100%;
        margin-top: 30px;
        position: relative;
    }
    .perfilFiltro #cardFiltro{
        width: 65%;
        margin: auto;
    }
    .acoes {
        width: 100%;
        margin-left: 0px;
        padding: 50px;
    }
    .acoes #acoesGeral{
        margin-top: -100px;
    }
}

@media(max-width: 450px){
    .perfilFiltro #cardFiltro{
        width: 100%;
    }
    .acoes {
        padding: 10px;
    }
    .acoes #acoesGeral{
        margin-top: -70px;
    }
}

@media(max-width: 1046px){
    .caixaComentarios{
        margin-left: 15%;
        width: 85%;
    }
}

@media(max-width: 770px){
    .caixaComentarios{
        margin-left: 8%;
        width: 92%;
    }
}

@media(max-width: 546px){
    .caixaComentarios{
        margin-left: 15%;
        width: 85%;
    }
}
/* FIM - RESPONSIVIDADE FEED */