/* RESPONSIVIDADE FEED */

@media(max-width: 900px) {
    .cardEsquerda h4{
        font-size: 20px;
    }
}

@media(max-width: 770px) {
    .anuncio{
        display: none;
    }
    .perfilFiltro {
        display: none;
    }
    .pesquisar {
        width: 100%;
        margin-left: 0px;
        padding: 50px;
    }
    .barraPesquisa{
        margin-top: 0px;
    }
}

@media(max-width: 460px){
    .pesquisar{
        padding: 20px;
    }
}

@media(max-width: 1000px){
    .seguir{
        font-size: 12px;
    }

    .nomeUsuario{
        font-size: 13px; 
    }
}

@media(max-width: 744px){
    .seguir{
        font-size: 15px;
    }

    .nomeUsuario{
        font-size: 15px; 
    }
}

@media(max-width: 400px){
    .seguir{
        font-size: 12px;
    }

    .nomeUsuario{
        font-size: 12px; 
    }
}


/* FIM - RESPONSIVIDADE FEED */